<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.nurram.project.pencatatkeuangan">

    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens android:smallScreens="false" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@drawable/icon_square"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@drawable/icon_circle"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".view.activity.dark.DarkOptionsActivity"
                android:parentActivityName=".view.activity.main.MainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".view.activity.graph.GraphActivity"
                android:parentActivityName=".view.activity.main.MainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".view.activity.main.MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-5143074224437976~5295592859" />

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
        <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>